* {
  font-family: "Roboto", sans-serif;
}

body {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418)),
    url(https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?cs=srgb&dl=pexels-pixabay-209831.jpg&fm=jpg);
  background-position: 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.card {
  max-width: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418));
  opacity: 0.9;
  border-radius: 5%;
  margin: 0 auto;
  padding: 10px;
  opacity: 0.7;
}

.container{
  margin-top: 60px;
}

.input-group{
  margin-top: 30px;
}
.forecast-temp {
  color: #000;
}
p {
  text-align: center;
  color: #6c757d;
}

.btn-success {
  background-color: #4a0677;
  opacity: 0.8;
  transition: all 200ms ease-in-out;
}
.degree-abb {
  position: relative;
  font-size: 10px;
  top: -15px;
  margin-left: -5px;
}
.upper-half {
  margin-top: 30px;
}
.header,
.degree,
.seven-days,
.fahrenheit-degree {
  color: #4a0677;
}

ul {
  list-style: none;
}

.img {
  width: 75%;
}

.weather-forecast {
  text-align: center;
  font-size: 12px;
}

.button{
  border: none;
  border-radius: 5px;
  background-color: #1d314c;
  color: #fff;
}

.degree {
  font-size: 2rem;
  margin-left: -20px;
}

.units .active {
  color: white;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.units a {
  text-decoration: none;
}

.describe::first-letter {
  text-transform: capitalize;
}

.humidity-div {
  display: block;
  margin-bottom: 80px;
}

.form-outline,
.current-location,
.submit-button {
  display: block;
  margin: 0 auto;
}

.text {
  color: #4a0677;
  font-weight: bold;
}
.source-code-url {
  font-size: 12px;
  padding-left: 10px;
  padding-bottom: 20px;
}
