* {
  font-family: "Roboto", sans-serif;
}
body {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  height: 100%;
  background-size: cover;
}
p {
  text-align: center;
  color: #6c757d;
}
ul {
  list-style: none;
}
.col-2{
  padding: 0px;
  margin: 0px;
}
.image-icon{
  width: 40%;
}
.img {
  width: 30%;
}
.weather-forecast{
  text-align: center;
  font-size: 12px;
}
.button {
  border: none;
  border-radius: 5px;
}
.degree {
  font-size: 3rem;
  margin-left: -25px;
}
.units .active {
  color: white;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
.units a {
  text-decoration: none;
}

.row {
  text-align: center;
}
.describe::first-letter {
  text-transform: capitalize;
}
.card {
  padding: 50px 0;
  margin: 0 auto;
}
.form-outline {
  display: block;
  margin: 0 auto;
  padding: 30px;
}
.text {
  color: #6c757d;
}
.source-code-url {
  font-size: 12px;
  padding-left: 10px;
  padding-bottom: 20px;
}
