* {
  font-family: "Roboto", sans-serif;
}
body{
  background-color: #f7f4ea;
}

.forecast-temp{
  color: #000;
}
p {
  text-align: center;
  color: #6c757d;
}

.btn-success{
  background-color: #4a0677;
  opacity: 0.8;
  transition: all 200ms ease-in-out;
}
.degree-abb{
  position: relative;
  font-size: 10px;
  top: -15px;
  margin-left: -5px;
}
.upper-half{
  margin-top: 30px;
}
.header,
.degree,
.seven-days{
  color: #4a0677;
}

ul {
  list-style: none;
}

.img {
  width: 75%;
}

.weather-forecast {
  text-align: center;
  font-size: 12px;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: #1d314c;
  color: #fff;
}

.degree {
  font-size: 2rem;
  margin-left: -20px;
}

.units .active {
  color: white;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.units a {
  text-decoration: none;
}

.describe::first-letter {
  text-transform: capitalize;
}

.weather-container {
  background-color: #00c2a6;
  border-radius: 5px;
  margin: 50px auto;
  max-width: 700px;
  padding: 20px;
}

.humidity-div{
  display: block;
  margin-bottom: 80px;
}

.form-outline,
.current-location,
.submit-button {
  display: block;
  margin: 0 auto;
  
}

.text {
  color: #4a0677;
  font-weight: bold;
}
.source-code-url {
  font-size: 12px;
  padding-left: 10px;
  padding-bottom: 20px;
}
